* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-accent: #fd79a8;
  --clr-accent-light: #fedde9;
  --clr-dark: #303030;
  --clr-light: #fff;

  --ff-primary: "Poppins", sans-serif;

  --fw-reg: 400;
  --fw-bold: 700;

  --fs-h1: 2rem;
  --fs-h2: 1.75rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 2.75rem;
    --fs-h2: 2rem;
    --fs-h3: 1.75rem;
    --fs-body: 1.125rem;
  }
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  font-weight: var(--fw-reg);

  margin: 0 auto;
}
header {
  margin-bottom: 10em;
}
section {
  max-width: 1040px;
  margin: 10em auto;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2em;
}

.logo {
  font-size: var(--fs-body);
  font-weight: var(--fw-bold);
  color: var(--clr-dark);
  letter-spacing: 0.1rem;
}

.nav__links {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin-top: 1em;
}

.nav__links li {
  list-style: none;
}

.nav__links a {
  text-decoration: none;
  color: var(--clr-dark);
  padding-bottom: 1em;
  transition: border 0.5s;
  border-bottom: 2px solid transparent;
}

.nav__links a:hover {
  border-bottom: 2px solid var(--clr-accent);
}

.btn {
  background-color: var(--clr-accent);
  border-radius: 0.5em;
  padding: 0.5em 0.5em;
  transform: translateY(-0.5em);
}
.btn:hover {
  opacity: 0.9;
}

.btn a {
  text-decoration: none;
  color: var(--clr-light);
}

.btn a:hover {
  border: none;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--clr-dark);
  margin: 5px;
  display: relative;
  z-index: 1000;
  transition: all 0.3s ease;
}

@media (max-width: 700px) {
  body {
    overflow-x: hidden;
  }
}

@media (max-width: 1000px) {
  .nav__links {
    width: 80%;
  }
  body {
    overflow-x: hidden;
  }

  .logo {
    color: var(--clr-dark);
  }
  .nav__links {
    position: fixed;
    height: 100vh;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    background-color: var(--clr-dark);
    transition: transform 200ms ease-in;
    padding: 4em;
    margin: 0;
    z-index: 1;
  }

  .nav__links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
    z-index: 2;
  }
  .nav-active {
    transform: translateX(0);
  }

  .nav-active li {
    opacity: 1;
  }

  .nav-active .btn {
    width: 100px;
    text-align: center;
  }

  .nav-active a {
    color: var(--clr-light);
    font-weight: var(--fw-bold);
    transition: color 250ms;
  }
  .nav-active a:hover {
    color: var(--clr-accent);
  }
  .nav-active .btn a:hover {
    color: var(--clr-light);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transfrom: translateX(0px);
    }
  }

  .toggle div {
    background-color: var(--clr-light);
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

.text-box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6em;

  display: flex;
  flex-direction: column;
}

.heading-primary {
  color: var(--clr-dark);
  margin-bottom: 1em;
}
.heading-primary__main {
  display: block;
  font-size: var(--fs-h1);

  font-weight: var(--fw-bold);
}
.heading-primary__sub {
  display: block;
  font-size: var(--fs-body);
  font-weight: var(--fw-reg);
}

.text-box__image {
  width: 100%;
}

@media (max-width: 1024px) {
  .text-box {
    max-width: 500px;
    text-align: center;
  }
  .text-box__image {
    display: none;
  }

  .user-details {
    width: 650px;
    transform: translateX(-3em);
    padding: 0.5em;
    border-radius: 10px;
    display: flex;
    background-color: lightblue;
    text-align: left;
  }
  .btn {
    transform: translateY(0.15em);
    width: 80px;
    height: 45px;
  }
}

@media (min-width: 1000px) {
  .text-box {
    width: 1000px;
    display: grid;
    grid-template-columns: 2fr 244px 1.5fr;
    grid-template-rows: 203px 2fr;
    grid-gap: 20px;
  }

  .img1 {
    position: relative;
  }

  .img2 {
    position: relative;
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .img3 {
    position: relative;
    top: 3em;
    grid-row: 1/3;
    grid-column: 3/-1;
  }

  .contact-form {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .user-details {
    position: relative;
    top: 6em;
    left: -3em;
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
    background-color: lightblue;
    width: 650px;
    padding: 0.5em;
    border-radius: 10px;
    display: flex;
  }

  .user-details .btn {
    color: var(--clr-light);
    transform: translateY(3px);
    width: 80px;
    height: 45px;
    padding: 0.5em;
    border-radius: 0.2em;
  }
  .user-details .btn a {
    text-decoration: none;
  }
}
.input-box i {
  margin-left: 0.5em;
  color: var(--clr-accent);
}

.input-box input {
  border-style: hidden;
  background-color: lightblue;
}
.input-box input:focus {
  outline: none;
}

@media (max-width: 700px) {
  .text-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .user-details {
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translate(0);
    max-width: 300px;
  }

  .input-box {
    padding: 2em 1em;
  }

  .input-box input {
    display: block;
  }

  .btn {
    margin: 1em;
  }
}

/* Experiences */

.experiences {
  display: grid;
}
.heading-primary {
  margin-bottom: 3em;
}

.heading-primary__main {
  font-size: var(--fs-h2);
}
.heading-primary__sub {
  font-size: var(--fs-body);
}

@media (max-width: 600px) {
  .experiences {
    padding: 0 4em;
  }

  .heading-primary {
    text-align: center;
  }
}

.activities {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
}

.activities__link {
  border: 1px solid #e2e2e2;
  border-radius: 1em;
  padding: 0.8em;

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "icon text"
    "icon subtext";
  grid-row-gap: 5px;
  grid-column-gap: 25px;
}
.text {
  grid-area: text;
  align-self: end;
  justify-self: start;
  font-size: var(--fs-body);
  font-weight: var(--fw-bold);
}
.icon {
  grid-area: icon;
}
.activities__link i {
  font-size: 30px;
  color: var(--clr-accent);
  position: relative;
  background-color: var(--clr-accent-light);
  top: 0.9em;
  padding: 10px;
  border-radius: 0.2em;
}
.subtext {
  grid-area: subtext;
  align-self: start;
  justify-self: start;
  font-size: var(--fs-body);
  font-weight: 100;
}

/* Packages */

.packages .heading-primary .btn {
  position: relative;
  top: 1em;

  text-decoration: none;
  background-color: var(--clr-accent-light);
  color: var(--clr-accent);
  font-size: var(--fs-body);
}
.tabs {
  display: flex;
  overflow-x: auto;

  margin-left: 2em;
  margin-right: 2em;
}
.tabs::-webkit-scrollbar {
  width: 0;
}
.tabs .tab__box {
  min-width: 150px;
  height: 80px;
  text-align: center;
  margin-right: 3px;
}

.tab__links {
  text-decoration: none;
  color: var(--clr-dark);
  border-bottom: 2px solid transparent;
  transition: border-bottom 250ms;
}

.tab__links:hover {
  border-bottom: 2px solid var(--clr-accent);
}

@media (min-width: 1020px) {
  .packages .heading-primary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 0.5em;
  }
  .packages .heading-primary .btn {
    grid-column: 2/-1;
    grid-row: 1/2;
    justify-self: end;
    align-self: start;
  }
}
@media (min-width: 600px) and (max-width: 1020px) {
  section {
    margin-left: 2em;
    margin-right: 2em;
  }
  .packages .heading-primary {
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
  .packages .heading-primary .btn {
    width: auto;
  }
}

/* Locations */

.locations {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 1em;
  grid-row-gap: 1em;

  margin-left: auto;
  margin-right: auto;
}
.location__tab {
  border: 1px solid var(--clr-accent-light);
  border-radius: 10px;
  display: grid;
  padding: 1em;
  grid-row-gap: 1em;
}
.locations span {
  color: var(--clr-dark);
  font-size: 0.7rem;
  font-weight: 100;
}

.locations .location__imgtitle img {
  width: 250px;
  height: 150px;
  border-radius: 10px;
}
.location__map i {
  color: var(--clr-accent);
}

.location__activities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5px;
}

.location__activities-icon i {
  margin-right: 2px;
  color: var(--clr-dark);
}
.location__activities-icon span {
  color: var(--clr-dark);
  font-weight: var(--fw-reg);
}

.location__price {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.location__price p {
  font-size: 1rem;
  font-weight: var(--fw-reg);
}

.btn-avail a {
  text-decoration: none;
  color: var(--clr-accent);
  background-color: var(--clr-accent-light);
  font-size: 1rem;
  padding: 0 0.5em;
  border-radius: 5px;
}
.btn-avail a:hover {
  background-color: var(--clr-accent);
  color: var(--clr-accent-light);
}

/* Popular Listing */

.popular-listing__heading {
  color: var(--clr-dark);
}
.popular-listing__heading .btn {
  text-decoration: none;
  color: var(--clr-light);
}
@media (max-width: 600px) {
  .popular-listing {
    width: 95%;
    padding: 5%;
    text-align: center;
  }
  .popular-listing__heading-title {
    margin-bottom: 1em;
    font-size: var(--fs-h1);
  }
  .popular-listing__heading .btn {
    display: block;
    margin: 0 auto;
    width: max-content;
    margin-top: 1em;
  }

  .before {
    display: none;
  }

  .after {
    z-index: -4;
  }

  .popular-listing__img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2.2fr;
    grid-gap: 1em;
    filter: opacity(0.2);
    position: relative;
    top: -20em;
    z-index: -1;
  }
  .popular-listing__img > img {
    width: 100%;
  }

  .popular-listing__img1 {
    width: 100%;
    grid-column: 2/3;
    grid-row: 2/-1;
    align-self: start;
  }
  .popular-listing__img2 {
    width: 100%;
    grid-column: 2/3;
    grid-row: 1 / 2;
    align-self: end;
  }
  .popular-listing__img3 {
    width: 100%;
    grid-row: 1/-1;
    align-self: center;
  }
}

@media (min-width: 600px) {
  .popular-listing {
    display: grid;
    grid-column-gap: 6%;
    grid-template-columns: repeat(2, 47%);
  }
  .popular-listing__heading {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-row-gap: 2em;
  }
  .popular-listing__heading-title {
    align-self: end;
  }
  .popular-listing__heading .btn {
    align-self: center;
    justify-self: start;
  }

  .after {
    display: none;
  }

  .popular-listing__img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2.2fr;
    grid-gap: 1em;
    grid-column: 1/2;
    grid-row: 1/1;
  }
  .popular-listing__img1 {
    width: 100%;
    grid-column: 2/3;
    grid-row: 2/-1;
    align-self: start;
  }
  .popular-listing__img2 {
    width: 100%;
    grid-column: 2/3;
    grid-row: 1 / 2;
    align-self: end;
  }
  .popular-listing__img3 {
    width: 100%;
    grid-row: 1/-1;
    align-self: center;
  }
}
@media (min-width: 600px) and (max-width: 1000px) {
  .popular-listing__heading-title {
    font-size: var(--fs-h2);
  }
  .popular-listing__heading .btn {
    width: max-content;
  }
}
